.form-container {
  display: inline-grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  align-content: flex-start;
  justify-content: space-between;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
